.root {
  max-width: 1439px;
  min-height: 100vh;
  background-color: var(--Background);
  color: var(--Text);
  transition: all 500ms;

  @include media-min("desktop"){
    max-width: none;
  }
}

.container {
  width: 375px;
  min-height: 100vh;
  margin: auto;
  //padding-bottom: 10px ;
  //border: 1px solid red;
}