header{
  display: flex;
  justify-content: center;
  background-color: var(--Elements);
  box-shadow: var(--Shadow-3);

  .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 16px;
    width: 375px;
  }

  h1{
    font-weight: $bold;
    font-size: 14px;
    line-height: 20px;
  }

  .switcher{
    display: flex;

    h2{
      font-weight: $regular;
      font-size: 12px;
      line-height: 16px;
    }

    svg{
      width: 16px;
      height: 16px;
      margin-right: 8px;
      fill: white; 
      stroke: var(--Stroke);
    }
    
  }
}