:root {
  --Background:  hsl(0, 0%, 98%);
  --Elements: hsl(0, 0%, 100%);
  --Input: hsl(0, 0%, 52%);
  --Text: hsl(200, 15%, 8%);
  --Shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
}
    
[data-theme='dark'] {
  --Background:  hsl(207, 26%, 17%);
  --Elements: hsl(209, 23%, 22%);
  --Input: hsl(209, 23%, 22%);
  --Text: hsl(0, 0%, 100%);
  --Shadow: none;
}
